<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Oswald:wght@300&display=swap" rel="stylesheet">
    <title>Sistema</title>
</head>
<body>
    <div class="contenedor-principal">
        <div class="titulo-principal">
            <h1>SWISS KNIFE version0</h1>
        </div>
        <div class="contenedor-imagen">
            
        </div>
        <div class="contenedor-ips">
            <p>IP Publica ------------------------------> <span class="open-port" id="ip-publica"></span></p>
            <p>IP Privada ------------------------------> <span class="open-port" id="ip-privada"></span></p>
            <p>Puerta Enlace --------------------------> <span class="open-port" id="puerta-enlace"></span></p>
            <p>Mascara de Red ------------------------> <span class="open-port" id="mascara-red"></span></p>
            <p>Puertos Abiertos -----------------------> <span class="open-port" id="puertos-abiertos"></span></p>
            <div class="contenedor-botones">
                <button id="btn" class="btn" role="button">Refrescar</button>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>