/* Estilos generales para la terminal Arch Linux */
body {

    background-color: #030011;
    color: #D8DEE9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor-principal {
    background-color: #030011;
    border: 1px solid #504e59;
    padding: 20px;
    width: 400px;
    height: 200px;
}

/* Estilos para el título de la terminal Arch Linux */
.titulo-principal {
    height: 50px;
    padding: 5px;
    border: solid 1px #504e59;
}

.ascii {
    position: relative;
    bottom: 16px;
   
}

.ascii p{
    color:#a19faf;
    font-size: 8px;
    font-family:monospace;
    white-space: pre;
    transition: all ease-in-out 200ms;
}

.ascii p:hover{
    color: rgb(118, 247, 252);
}

.contenedor-iconos-derecha{
    width: 10%;
    height: 5%;
    position: relative;
    bottom: 43%;
    right: 8%;
    margin: 0 100%;
}

.contenedor-iconos-medio{
    width: 6%;
    height: 5%;
    position: relative;
    bottom: 47%;
    margin: auto;
}

.contenedor-iconos-izquierda{
    width: 4%;
    height: 6%;
    position: relative;
    bottom: 52%;
    right: 5%;
    white-space: nowrap;
    
}

.wifi{
    width: 100%;
    height: 100%;
}

.icono-btv{
    width: 120%;
    height: 120%;
}

.terminal{
    width: 220%;
    height: 220%;
}

.contenedor-ips {
    height: 40%;
    padding-left: 5px;
    position: relative;
    bottom: 6%;
}

p {
    font-family: 'Bitter', serif;
    margin: 0;
    font-size: 13px;
    color:#a19faf;
}

.ips{
    color: rgb(118, 247, 252);
    font-weight: bold;
}
.contenedor-botones{
    padding: 10px;
    text-align: center;
}
.btn {
    border: 1px solid #504e59;
    padding: 3px;
    background-color: #030011;
    
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: 'Bitter', serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 150px;
    margin: 0px 10px;
    transition: all ease-in-out 200ms;
  }

.btn:hover{
    border: 1px solid #504e5900;
    background-color: rgb(118, 247, 252);
    transform: scale(1.01);
    color: #ffffff;
}